<div class="row">
    <div id="app">
        {{mensaje}}

        <div>{{persona}}</div>

    </div>

    

</div>




<script>
    var app = new Vue({


        el: "#app", 
        data: {
            mensaje: "Holi mundo Vue JS", 
            persona:"carlitos"
        }, 

        created: function () {
            this.getPersona(); 
        },

        methods: {

            getPersona: function () {
                this.$http.get("https://localhost:44348/api/Persona").then(function (response) {
                    this.persona = response.body;
                });
            }
        }

    })
</script>