<div class="row">
    <div id="app">
        {{mensaje}}
    </div>
</div>




<script>
    var app = new Vue({


        el: "#app", 
        data: {
            mensaje:"Holi mundo Vue JS"
        }

    })
</script>