<div class="row">
    <div id="app">

        <div>
        {{mensaje}}
    </div>

        <div>
            {{info}}
        </div>


        <div>
            {{$data}}
        </div>


        <div>
            <input type="text" name="name" value="" v-model="info" />
        </div>


    </div>
</div>




<script>
    var app = new Vue({


        el: "#app", 
        data: {
            mensaje: "Holi mundo Vue JS", 
            info: "Esta es una información"
        }

    })
</script>